*.Rproj
analysis/work/*
analysis/*.html
analysis/markdowns/*
All
Nina_similar_famous_faces_noBR
BOSS_norms_maureen_condensed.csv
.Rproj.user/
data/*.csv
data/*.html
data/tests/
*.Rhistory
data/pilot1/*.csv
data/pilot1/*.html
*.xlsx
data/pilot2/*.csv
data/pilot2*.html
data/pilot3/*.csv
data/pilot3/*.html
data/pilot4/*.csv
data/pilot4/*.html
data/*.png
*.png
.vscode/
*.rds
