<style>
  /* ENCODING */
  .centertop {
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
  }
  .lowerright {
    position: absolute;
    bottom: 5%;
    right: 10%;
  }
  .lowerleft {
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
  /* RETRIEVAL */
  .outer_wrap {
    width: 120vmin;
    height: 90vmin;
    font-size: 4vmin;
    position: relative;
    line-height: normal;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    inline-size: 25%;
    transform: translate(-50%, -50%);
  }
  #jspsych-survey-likert-next{
    margin-bottom: 35px;
  }
  .jspsych-content{
    max-width: 60%;
  }
  .jspsych-survey-likert-preamble{
    display: inline-block;
  }
</style>